.compareCharacterCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.characterList {
    text-align: center;
}   

.characterListCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-top: 5%;
    width: 100%;
}

.fuzzySearch {
    justify-content: center;
    display: flex;
    margin-bottom: 5%;
}

.listItem {
    margin: .5%;
}

.cardContent {
    color: white;
}

.bottom-margin {
    margin-bottom: 15px;
}